html { height: 100%; -webkit-text-size-adjust: 100%; -webkit-overflow-scrolling: touch; }

body { min-width: 320px; width: 100%; height: 100%; line-height: 1.5em; margin: 0; font-weight: normal; }

h1, h2, h3, h4, h5 { margin: ; cursor: default; }

dl, dt, dd, figure { margin: 0; }

label { cursor: pointer; -webkit-user-select: none; -moz-user-select: none; user-select: none; }

img { display: block; border: 0; max-width: 100%; -ms-interpolation-mode: bicubic; }

button { -webkit-appearance: button; cursor: pointer; outline: 0; }

strong, b { font-weight: 700; }

button[disabled], html input[disabled], .disabled { cursor: default; opacity: 0.8; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input[type="text"], input[type="email"], input[type="search"], input[type="password"], input[type="number"], textarea { -webkit-appearance: none; }

input[type="radio"] { vertical-align: middle; margin: 0 5px 1px; }

select { width: 100%; margin: 0; }

body { color: #444444; background: url("images/bg-main.jpg") repeat 0 0; }
@media screen and (max-width: 768px) { body { padding-top: 0; } }

h1, h2, h3 { margin: 0 0 10px; }

h1 a { color: #444444; }
h1 a:hover { color: #ff6600; }

h3 { color: #ff6600; }
@media screen and (max-width: 603px) { h3 { margin: 0; } }

a { color: #ff6600; cursor: pointer; outline: none; text-decoration: none; -webkit-transition: all 200ms ease; transition: all 200ms ease; font-weight: bold;}
a:hover { color: #444444; }

p { margin-top: 0; }

hr { border: 0; border-top: 1px solid #efefef; clear: both; }

video { width: 100% !important; height: auto !important; }


span.highlighted-letter { color: #ff6600; }

.page-mega-menu { background-color: #cccccc; border-top: 1px solid green; border-bottom: 1px solid green; }
.page-mega-menu .mega-menu { display: table; width: 100%; }
.page-mega-menu .mega-item { display: table-cell; vertical-align: middle; border-left: 1px solid #efefef; border-right: 1px solid #c0c0c0; }


.page-mega-menu .menu-image { width: 180px; padding: 5px; margin-bottom: 5px; border: 1px solid #efefef; border-top-color: #c0c0c0; border-left-color: #c0c0c0; }
.page-mega-menu .menu-image img { height: 100px; margin: auto; }


.menu-item-drop-down { position: relative; }
.menu-item-drop-down > a { display: block; line-height: 18px; padding: 8px 9px; color: #444444; text-align: center; text-shadow: -1px 0 1px white; text-transform: uppercase; }
.menu-item-drop-down:hover > a { color: #ff6600; }

.upper-page-mega-menu { background-color: #cccccc; border-left: 1px solid green; border-right: 1px solid green;border-bottom: 1px solid green; }
.upper-page-mega-menu .mega-menu { display: table; width: 100%; }
.upper-page-mega-menu .mega-item { display: table-cell; vertical-align: middle; border-left: 1px solid #efefef; border-right: 1px solid #c0c0c0; }


.upper-menu-item-drop-down { position: relative;}
.upper-menu-item-drop-down > a { display: block; line-height: 8px; padding: 8px 9px; color: #444444; text-align: center; text-shadow: -1px 0 1px white; text-transform: uppercase; font-size: 12px;}
.upper-menu-item-drop-down:hover > a { color: #ff6600; }

.header-search { display: table-cell; vertical-align: bottom; width: 25%; }
@media screen and (max-width: 768px) { .header-search { position: static; display: table; width: 100%; padding: 20px; margin: 0 -20px; border-top: 1px solid #efefef; border-bottom: 1px solid #efefef; } }

.upper-left-page-mega-menu { background-color:; }
.upper-left-page-mega-menu .left-mega-menu { display: table; width: 100%; }
.upper-left-page-mega-menu .left-mega-item { display: table-cell;}


.upper-left-menu-item-drop-down { position: relative;}
.upper-left-menu-item-drop-down > a { display: block; line-height: 8px; padding: 0px 0px; color: #444444; text-align: center; text-shadow: -1px 0 1px white; text-transform: uppercase; font-size: 12px;}
.upper-left-menu-item-drop-down:hover > a { color: #ff6600; }